[2014-10-27 12:14] jmoody opened #1 "Add gemspec and version file"

[2014-10-27 12:35] jmoody opened #2 "Add CONTRIBUTING.md documents"

[2014-12-04 09:35] #1 closed, assigned to jmoody

[2014-12-04 09:35] #2 closed, assigned to nobody

[2014-12-16 12:38] jmoody opened #21 "Support JRuby"
We support JRuby?
- [ ] Update .travis.yml
- [ ] Update 'we support' documentation
- [ ] Can we require MRI ruby 2.0 and JRuby 1.9?

[2014-12-16 13:13] TobiasRoikjer opened #22 "[Android] Should fail hard if ENV is not correct set up"

[2014-12-16 13:13] TobiasRoikjer opened #23 "[iOS] Automatically detect application in xcode project"

[2014-12-18 09:19] TobiasRoikjer opened #26 "[CLI] Import all CLI commands from old projects"
- [x] help
- [ ] gen
- [x] run
- [x] console
- [x] version

Android:
- [x] setup
- [x] resign
- [x] build

iOS:
- [ ] setup
- [ ] check
- [ ] download
- [ ] check
- [ ] sim locale
- [ ] sim location
- [ ] sim reset
- [ ] sim acc
- [ ] sim device

[2015-01-05 13:26] TobiasRoikjer opened #28 "Default device should fail if wrong platform"
Calling `device.default` in the scope of Android or iOS should fail if the device is not valid for the platform.

[2015-01-28 14:58] jmoody opened #36 "Calabash iOS Device needs to retain a reference to the current run-loop."
It is a hash.

[2015-04-29 15:17] jmoody opened #55 "Announcement: Calabash 2.0"
Calabash 2.0 is a merge of the iOS and Android APIs.

### Why?

* A unified API will make cross-platform testing much easier.
* APIs are difficult to design.  Now that we've had several
  years of experience with hundreds of different applications
  on both Android and iOS, we believe we've created an API that is
  easier to use and understand.
* Both projects have accumulated a lot of behaviors t

[2015-04-30 13:33] JaniJegoroff commented on #55
@jmoody - That's awesome news! :+1:

I'm delighted to see that coding style guide is taken in use. Since style guide is based on `Rubocop` style guide (https://github.com/bbatsov/rubocop) I would highly recommend to utilise it's capabilities (static code analysis, custom configurations). There are currently over **1200** offences in the development branch (including test code) and starting to fix

[2015-04-30 14:18] jmoody commented on #55
@JaniJegoroff

I am not opposed to using a code quality tool.  However, I only want to use it if is tied into Travis CI.  Can you wire something like this up?

Also, 1200 offences seems how.  How configurable is the analyser?  Our style guide is not exactly rubocup.

[2015-04-30 17:25] NM-Clio commented on #55
+1 for discuss.io. I haven't used Vanilla Forums.

+million for shifting away from Google Forums.

[2015-05-04 21:19] bootstraponline commented on #55
I recommend [discourse](http://www.discourse.org/) as a Google groups alternative. It's worked out well for appium.

[2015-05-05 19:28] jmoody opened #67 "Screenshot.obtain_screenshot_path! should respect 'SCREENSHOT_DIRECTORY'"
If the users says, "Use this directory for screenshots", don't insert `test_run_*`.

### Reproduce

[code]

### Expected

[code]

[2015-05-05 19:33] jmoody commented on #67
@TobiasRoikjer What do you think?

[2015-05-05 20:19] TobiasRoikjer commented on #67
@jmoody I don't think this is a good approach, we should rather have the user specify both. As the ENV will stay constant, the screenshots would be overwritten

[2015-05-05 20:21] TobiasRoikjer commented on #67
Also, Calabash not using the ENV variable after being started is expected behaviour. The ENV used is the one supplied to Calabash, e.g. CAL_SCREENSHOT_DIR=xxx be irb.

[2015-05-05 20:24] jmoody commented on #67
As a first run experience, it is not good.  I expected this work.  I asked calabash to put my screenshots somewhere and it didn't.

So?  Is this really a problem?  Who is consuming these screenshots?  Mostly it is formatters...

I should be able to control the environment through ENV without surprises.

Why don't we remove this intermediate directory all together?

[2015-05-06 01:13] jmoody opened #68 "ideviceinstaller hooks in Calabash device"
ATTN @krukow @TobiasRoikjer

My plan is to implement hooks for ideviceinstaller.  If the ideviceinstaller _command-line application_ is available, then we'll use it.  If it is not, we'll raise an error.

Here are my various attempts at an API.

* https://github.com/calabash/luffa/blob/develop/lib/luffa/ios/ideviceinstaller.rb
* https://github.com/jmoody/briar/blob/develop/bin/briar_ideviceinstalle

[2015-05-07 11:08] jmoody commented on #68
@krukow

Unless you want these hooks in Calabash, we are going to provide an `install_on_device` method and instructions on how to override this method.

[2015-05-07 11:31] jmoody commented on #67
RESOLVED: Update the Screenshot docs to explain the behavior of the subdirectory.

[2015-05-07 11:38] krukow commented on #68
@jmoody I'm not sure what you're asking me to do here? why are they hooks? Are they not just regular methods - and if not in Calabash, then where are they?

[2015-05-07 11:51] jmoody commented on #68
RESOLVED:  Device `install_app_on_device` will be abstract.

[2015-05-07 11:51] #68 closed

[2015-05-07 12:35] LiohAu commented on #55
Good news :)

About the support, I also recommend to move from google groups to discourse.

When you say "Wherever possible, the Calabash 2.0 API will be cross-platform.", I assume that "Wherever" is used for cases like physical back button (and long press maybe?) which are specific android features.

What I would really appreciate:

1/
Given that a lot of testers are not primarily developers
And

[2015-05-07 14:10] bootstraponline commented on #55
I agree about using the selenium API (for success stories with this approach, see appium, selendroid, ios driver). It's language agnostic and allows reusing knowledge from existing web tests.

[2015-05-08 12:54] bootstraponline commented on #55
It'd be great if calabash moved away from the [Timeout](http://www.mikeperham.com/2015/05/08/timeout-rubys-most-dangerous-api/) API. It's super flaky. The [selenium gem's approach to timeouts](https://github.com/SeleniumHQ/selenium/blob/master/rb/lib/selenium/webdriver/common/wait.rb#L54) is much better.

[2015-05-08 13:10] TobiasRoikjer commented on #55
@bootstraponline Why do you find the timeout api to be flaky?

An advantage of the Timeout API is that it will still timeout, even if the given block never returns. The "selenium" method would keep running.

Imagine `yield` never returning.
[code]

[2015-05-08 13:16] krukow commented on #55
Actually @bootstraponline is correct there are well known problems with the timeout API and I agree we should revisit the approach. However, @TobiasRoikjer is also correct that the selenium approach is naive. I'm wondering if we need two approaches: conceptually `cooperative_timeout` if we trust the the block will not run for a long time and `timeout` if we don't know the block.

Or perhaps there

[2015-05-08 13:18] bootstraponline commented on #55
Selenium is widely used and the wait code has been working properly in production for 5 years. When I used the timeout api in [appium](https://github.com/appium/ruby_lib/issues/234), it was flaky. After researching and finding that language implementors such as [jruby](http://blog.headius.com/2008/02/rubys-threadraise-threadkill-timeoutrb.html) recommend against it, the decision was straight forwa

[2015-05-08 13:20] krukow commented on #55
@bootstraponline that's exactly what I mean by "there are well known problems with the timeout API". I also understand that the approach you're referencing works well as long as the block that is yielded is well-behaved. That's why I think we need either two approaches or a unified better approach

[2015-05-08 13:23] bootstraponline commented on #55
@krukow I agree with your post. I was responding to TobiasRoikjer.

[2015-05-08 13:29] TobiasRoikjer commented on #55
@bootstraponline @krukow Is the Timeout API really flaky if used correctly? Reading about Timeouts in jRuby, they appear to have been fixed as well.

[2015-05-08 13:31] bootstraponline commented on #55
When I researched this in the past, there was no shortage of abandonware attempts at resolving the issue.

- https://github.com/jjb/sane_timeout
- https://github.com/translate/terminator

The timeout API in MRI is fundamentally broken. That's been my experience twice over, once with calabash and then again with appium. Timeout being broken is widely documented online.

[2015-05-08 13:55] LiohAu commented on #55
I have two wishes that I did not mention in my previous post.

When testing web apps the drivers knows all the elements on the page, elements having visibility: hidden, or display: none, but also the elements that are outside of the browser view. This is because the browser has a full DOM.
On iOS (and I guess that the issue also exists on android, but I don't know), elements that are not displayed

[2015-05-08 14:05] TobiasRoikjer commented on #55
@LiohAu To answer your last question: There is an Android server. Because of the way Android instrumentation is done, we can have the server as a separate apk, which does not require you to modify your application. The server in Android is fully capable of interacting with your application as if it was inlined in your code. The backdoor method is available for Android as well.

[2015-05-08 14:09] LiohAu commented on #55
@TobiasRoikjer Ok I did not know, so I only have 1 wish remaining :D

[2015-05-08 16:47] jmoody commented on #55
@LiohAu re: 2nd solution - This is what the server does already.

[2015-05-08 16:51] jmoody commented on #55
@bootstraponline

How does this manifest?  In particular, how does it manifest in Calabash?

[2015-05-08 17:08] bootstraponline commented on #55
@jmoody I recommend discussing with @krukow if you don't believe the evidence that the timeout API has issues on MRI. I don't want to spend my time arguing on github.

[2015-05-08 17:16] jmoody commented on #55
@bootstraponline

I didn't realize we were arguing.  I am information gathering.  I am not disputing anything.  I want to understand how this manifests in Calabash so it can be addressed.

[2015-05-08 17:31] bootstraponline commented on #55
I've linked to a number of sources of information. The Appium Ruby code originally used the same approach as calabash. Users complained about [wait flakiness](https://groups.google.com/forum/#!topic/appium-discuss/Hrd77EpWYaE) and I experienced the same thing. I tracked the problem down to use of the Timeout API and discovered this was a well known issue. After switching to the Selenium wait appro

[2015-05-09 10:57] LiohAu commented on #55
@jmoody I think you are talking about is done in the LPCollectionViewScrollToItemWithMarkOperation.m / LPScrollToRowWithMarkOperation.m for scrolling to a specific mark and in the UIScriptASTWith.m that supports the indexPath keyword.
But this is a partial implementation, I should be able to make : query 'label marked:"X"' and if that label is in a UITableViewCell / UICollectionViewCell / Whatever

[2015-05-10 19:01] mvemjsun commented on #55
Could I suggest that when developing official documentation around Calabash 2.0 it would be good to have a section or links to

1. Calabash Good practices, the good practices could cover both the test code that is being developed also what conventions/patterns should be followed while developing the apps themselves so that they can make the App more testable. All testers may not have in-depth know

[2015-05-11 21:21] #36 closed

[2015-05-11 21:21] jmoody commented on #67
- [ ] Update docs
- [ ] Present this for feedback during demo

[2015-05-11 21:32] jmoody opened #71 "Should Calabash 2.0 require the use of bundler?"
In the Rails world, it is common to use bundler, a Gemfile, and the resulting Gemfile.lock to control the gem environment.  Internally, we use bundler in all of our projects.  Externally, I use bundler when working with my clients.

Many of the problems we see can ultimately be traced back to incompatible gem versions or (in the case of iOS) a stale version of run-loop.  This leads to a lot of sup

[2015-05-12 15:44] Goginenni commented on #55
Good to see  Selenium API support in 2.0. Most people argue about Calabash is Ruby and Cucumber dependency. Would be  better if it is moving in the direction where it can be used without cucumber and any other language

[2015-05-13 17:34] TobiasRoikjer commented on #55
@bootstraponline Calabash iOS and Android had potential issues with timeouts (and potentially a lot of other things) because of improper rescuing of Ruby `Exception` (which should almost never be done). These issues have been fixed on master. This could lead to unexpected behaviour. As for `Timeout.timeout` itself, we do not believe it to be faulty and broken - as long as it is used correctly. E.g

[2015-05-14 23:58] jmoody opened #76 "Does Calabash:IOS::Device need to implement port forward"
Hey Tobias,

What is the purpose of the Device#port_method?

Can we move this to Calabash::Android::Device?

[2015-05-15 00:12] jmoody opened #77 "Is it possible to say "install the app" and "clear the app" data?"
Hey Tobias,

I am asking because in the case of ideviceinstaller, the way you clear the app data is by re-installing.  Obviously, we want to avoid uninstalling + installing more than once.

[2015-05-15 00:24] jmoody opened #78 "Proposed API change: _clear_app_data and _uninstall_app should take application as argument"
Hey Tobias,

I think I advocated for these methods to take an identifier.  Now I think they should take an application argument.

What do you think?

[code]

[2015-05-15 14:06] vhugogarcia commented on #55
Probably the most important desired feature at least for me, is to find the most easy way to grab the components IDs, so we can create the rule tests faster.

In the last version, just see how much you spent doing that... Hope, there is a way to do that just easier and faster.

[2015-05-18 09:41] TobiasRoikjer commented on #78
@jmoody I agree fully. I had this thought myself.

If needed, we can add a new Application class,

[code]
Which can have an identifier

[2015-05-18 09:41] TobiasRoikjer commented on #78
I'll make the PR to change this behaviour

[2015-05-18 09:42] TobiasRoikjer commented on #77
installing the apk will reset the data - so
[code]
and
[code]
Should be identical.
Does this answer your question?

[2015-05-18 09:43] TobiasRoikjer commented on #76
@jmoody No. I guess the same concept is not needed for iOS. I'll make a PR to move this method

[2015-05-18 09:51] jmoody commented on #78
@TobiasRoikjer See #79 and #80 - I updated the base, Android, and iOS APIs.

[2015-05-18 10:07] #78 closed

[2015-05-18 10:35] TobiasRoikjer commented on #76
https://github.com/calabash/calabash/pull/81

[2015-05-18 10:35] #76 closed

[2015-05-18 11:39] jmoody commented on #77
Installing and clearing app data are mutually exclusive.

[2015-05-18 11:39] #77 closed

[2015-05-20 16:36] jmoody opened #87 "Move iphone_app_emulated_on_ipad? and screen_dimensions to IOS::Application"
Currently these are defined on IOS::Device.  The issue here is that these two methods reflect the state of an _application_ on a device and not the state the device.

[2015-05-25 08:20] jmoody opened #89 "Should routes be Classes?"
Hi Tobias,

The UIA tap gesture is actually 2 calls:

1. A call to map to find the coordinates to touch.
2. A call to UIAutomation to touch the coordinates.

Other UIA gestures will involve one or more calls to map.

I am thinking about converting the MapRoute from a module to a class so it can be used more easily in the UIA gesture API.

I haven't decided one way or the other.

Any thoughts?

[2015-05-25 10:22] jmoody opened #90 "Should gestures return QueryResult?"
The docs do not defined a return value.

If they return a QueryResult, then we should probably capture the :options that were passed to the gesture.  For example :at and :from.

[2015-05-26 11:33] jmoody opened #94 "Remove 'marked' support in WebView queries."
- [WebView Support: marked behaves differently on webviews](https://github.com/calabash/calabash-ios/wiki/06-WebView-Support#marked-behaves-differently-on-web-views)
- [Cannot query UIWebView by accessibilityIdentifier or accessibilityLabel] [#735](https://github.com/calabash/calabash-ios/issues/735)

Requires 0.18.0 release on the server because this is a breaking change.

[2015-05-26 17:25] jmoody opened #97 "Need clarification of TODO on escape_uia_string"
[code]

@krukow I am trying to understand this TODO.  Does it mean that for UIA serialization, we must escape newlines?  Or does it mean that all query strings should escape newlines?

[2015-05-26 20:30] jmoody opened #98 "Where should the `escape_quotes` method live?"
I slapped this into Calabash::Operations, but decided it did not belong there.

It is useful both to the user and to Calabash internally.

[code]

[2015-05-26 23:23] jmoody opened #100 "Should we prefer Mixin or Helper for modules that support other modules or classes?"

[2015-05-27 00:04] jmoody opened #101 "Some iOS map routes don't take a query - how should handle this?"
An example of this is the /orientation route.

[code]

The generic route handling code returns a QueryResult, but a `nil` query raises an error (see below).

### Proposal

##### 1. map_route('/orientation', :orientation, :status_bar)

If not '/orientation', then some other indication of what generated the result.

##### 2. map_route('', ...)

YAGNI - would we ever need or want to know that it was

[2015-05-27 06:27] jmoody opened #102 "Remove :post_timeout from Wait options or implement it."
Why should we wait after?

**Pro:** I do this all the time in my own tests.  I find it convenient.   Maybe it is a bad practice?

**Con:** It is really easy to hide sleeps.

At the moment :post_timeout is not implemented in the Wait module.

[code]

[2015-05-27 06:41] jmoody opened #103 "Wait::wait_for arguments seem wrong - the timeout parameter should come from the defaults."
[code]

I propose the following change:

[code]

[2015-05-27 11:10] jmoody commented on #102
### Outcome

Will remove from Wait API.

[2015-05-27 11:12] jmoody commented on #103
### Outcome

Change the API as proposed.

[2015-05-27 11:15] jmoody commented on #101
### Outcome

Option 1.

[2015-05-27 11:17] jmoody opened #105 "Refactor: rename operations => lifecycle."
Calabash::Operations should be lifecycle.

[2015-05-27 11:28] jmoody commented on #98
### Outcome

Move to Calabash::Text - needs a pull-request.

[2015-05-27 11:34] jmoody commented on #89
### Outcome

No.

[2015-05-27 11:34] #89 closed

[2015-05-29 00:34] jmoody commented on #101
It turns out that we must pass `nil` because that is what the LPMapRoute expects.

* [**LPMapRoute: convert to ARC**](https://github.com/calabash/calabash-ios-server/pull/177)
* [**iOS: Status Bar API for Cucumber**](#111)
* 7304567

[2015-05-29 00:34] #101 closed

[2015-05-29 11:40] jmoody opened #114 "Gesture API proposal: replace tap with touch"
I am bringing this up for two reasons:
1. I prefer touch over tap because the UIKit APIs refer to _touch_ and _touches_.  See the UIControlEvent API and UIGestureRecognizers.  I realize the UIAutomation JavaScript API uses `tap` through the docs.
2. tap is a Ruby Kernel method.  Some tools, like RubyMine, can't figure out that `tap` is defined in the Cucumber World.  I can already hear the protest

[2015-05-29 12:07] TobiasRoikjer commented on #114
@krukow  ^

[2015-05-29 12:19] jmoody commented on #114
![2015-05-29_14-18-57](https://cloud.githubusercontent.com/assets/466104/7882419/be890ae0-060d-11e5-989e-f32d1d78470f.png)

[2015-05-29 14:16] #102 closed

[2015-05-29 14:16] #103 closed

[2015-06-03 14:38] jmoody opened #120 "Android: wrong error message if no device connected."
[code]

[2015-06-04 08:58] jmoody commented on #105
Will not do.  Operations => API.

[2015-06-04 08:58] #105 closed

[2015-06-04 09:12] jmoody opened #125 "Should we use Thor for our command-line tool."
### Cons
* Difficult to grok at first.
* Another dependency to manage with test-cloud-command-line and run-loop.
* Help is difficult to format: [run-loop example](https://github.com/calabash/run_loop/blob/develop/lib/run_loop/cli/instruments.rb#L44)
* It is a box that you have to live in.

### Pro
* Uniform help and command line interface.
* Nice abstraction that is pretty easy to test.
* Parses a

[2015-06-07 13:27] jmoody opened #130 "wait_for_no_keyboard or wait_for_keyboard_to_disappear"
Which would be better?  Both?

[2015-06-07 14:19] jmoody opened #131 "Can we reduce the default Wait retry_frequency?"
[code]

What would be the consequences of reducing this to 0.2 or 0.1?

[2015-06-08 06:05] jmoody opened #133 "Refactor Calabash::Utility into separate private and public sections"
The Calabash::Utility module needs a refactor.

* precent and coordinate methods need to be in Calabash::API
* everything else in the file should be private and internal to Calabash

[2015-06-08 07:18] jmoody opened #134 "Calabash::Android::Device needs to be documented"
Many public methods are missing documentation.

[2015-06-08 07:20] jmoody opened #135 "Calabash::Android::Application needs documentation"
Many methods are undocumented.

[2015-06-08 07:38] jmoody opened #136 "Should the ADB class be public? If so it needs documentation."

[2015-06-08 09:11] TobiasRoikjer commented on #136
@jmoody Yes, it should

[2015-06-08 09:11] TobiasRoikjer commented on #134
@jmoody Device is a private API right? Should we document it?

[2015-06-08 09:12] TobiasRoikjer commented on #130
@jmoody I believe wait_for_no_keyboard is better, as it follows `wait_for_no_view`

[2015-06-25 15:40] Goginenni commented on #55
Another idea we had at Badoo is replacing Robotium with Espresso for Calabash-android backend framework. We started changing the backend framework code and able to run 70% of out test cases using Espresso. As Espresso claims, we saw the slight increase ( Not super fast as we thought in the beginning ) in the speed of test cases execution but still few issues to resolve and few client functions has

[2015-06-25 15:48] bootstraponline commented on #55
I'd be very interested in seeing the code for the Espresso backend. In appium we've also looked at Espresso and decided [google's droiddriver](https://android.googlesource.com/platform/external/droiddriver) is easier to integrate with.

[2015-06-30 13:11] Goginenni commented on #55
@bootstraponline the most recent branch is https://github.com/Disruption/calabash-android/tree/disruption/feature/espresso_2.0_update

P.S.
It is not up to date with latest calabash-android branch.

[2015-06-30 13:46] bootstraponline commented on #55
Thanks!

[2015-07-21 14:27] jmoody commented on #90
Documentation wise; no - the return value should be unspecified.

However, for the console, gestures should return a QueryResult.

[2015-07-22 07:08] jmoody opened #144 "Environment.set_variable! needs to refresh constants"
[code]

This works to set the variable, but the constant still has the old value.

@TobiasRoikjer Any clever ideas for dealing with this?

Should we remove this method?  It only seems to have value for testing.

[2015-07-28 12:35] TobiasRoikjer commented on #144
@jmoody We should remove it. It's only there for testing

[2015-07-28 20:57] jmoody opened #172 "Understanding the pan_* methods"
[code]

Why are `_pan_screen_down` and `_pan_screen_up` abstract methods?  Why aren't the implemented like `pan_right` and `pan_left`?

[code]

[2015-07-28 20:59] jmoody opened #173 "Pinch needs documentation"
The docs are pretty light.

[2015-07-29 08:36] jmoody commented on #172
These methods need to take into account the top and bottom bars.  On iOS, they need to take into account the pull down notification center and the pull up transport settings.

[2015-07-29 08:36] #172 closed

[2015-07-29 09:21] #131 closed

[2015-07-30 07:24] jmoody commented on #144
+1 remove it.

[2015-07-30 13:45] jmoody opened #186 "Default hooks generated by skeleton require iOS users to have patched Calabash with LifeCycle hooks"
Maybe I am wrong, but I think this is the case.

I can't investigate right now, but we can't lose track of this.

[2015-07-30 14:03] TobiasRoikjer commented on #186
Sure.

[2015-07-31 08:07] jmoody opened #190 "query("view marked:'does not exist'").first should not raise error"
Hey Tobias,

I think you are going to say that this is expected behavior.

I don't think this is a good behavior.  If the result of query is supposed to pose as an Array, I should be able to call `first` on the result and get back `nil`.

### Reproduce

1. query for an element on the screen that isn't there
2. ask for the first result

### Expected

=> nil

### Found

[code]

[2015-07-31 08:14] jmoody commented on #190
Here is an example:

[code]

[2015-07-31 14:25] jmoody opened #193 "AndroidManifest.xml does not exist"
### Reproduce

1. pull the latest from develop

2.
[code]

### Expected

The console to start.

### Found

[code]

### Notes

I grabbed the AndroidManifest.xml from the [calabash-android repo](https://github.com/calabash/calabash-android/blob/master/ruby-gem/test-server/AndroidManifest.xml) and installed locally.

I was able to start the console.

But what happened?  I see this file is git ignored

[2015-07-31 14:35] jmoody opened #194 "Handling adb "rm failed for -f. No such file or directory""
As you may recall, my Samsung S3 is having a problem installing apps.

[code]

Can we catch this message in adb.command?

[2015-07-31 15:41] TobiasRoikjer commented on #193
@jmoody You need to build the test-server if you are running from the github source. e.g. rake android:build

[2015-07-31 15:41] #193 closed

[2015-07-31 16:35] jmoody opened #195 "Android: cannot launch workpress example - can launch in Calabash Android 0.5.13.pre1"
### Reproduce

1. One Android device connected and on the same network.
2. Pulled the latest from develop.

[code]

### Expected

The app to launch.

### Found

[code]

### Notes

The Wordpress app did install.

Trying to launch from the console, results in an indefinite hang:

[code]

I also could not launch the spec/resources/android/xtc-android-sample.apk.

I am able to launch both apps with 0.

[2015-07-31 16:44] jmoody opened #196 "Is having the binaries in the features/prebuilt a good practice?"
See [samples/wordpress](https://github.com/calabash/calabash/tree/develop/samples/wordpress)

I am concerned that it will lead to the binary being uploaded 2x to the XTC - once because it was passed as an argument and again because it is in `features/`.

From a workflow perspective it is not great when using tools like vim and emacs - too many autocomplete matches (control-p on vim, c-x c-f on ema

[2015-07-31 17:05] jmoody commented on #195
iOS app launches out of the box.

[2015-07-31 17:41] jmoody commented on #195
Added some of the debug output to get the adb stack trace.

Wow!  That's a lot of logging!

[2015-07-31 17:49] jmoody opened #198 "iOS Wordpress sample has failing Cucumbers"
[code]

[2015-08-01 06:32] jmoody opened #200 "Can we remove the temporary .gitignores?"
[code]

Playground doesn't need to be temporary does it? It can just be ignored?

[2015-08-02 14:35] TobiasRoikjer commented on #200
@jmoody Yes for playground. No for the test-server :)

[2015-08-02 14:35] TobiasRoikjer commented on #198
@jmoody FYI, I don't experience this

[2015-08-02 14:36] TobiasRoikjer commented on #196
@jmoody I agree on this actually. Good idea!

[2015-08-02 14:37] TobiasRoikjer commented on #195
@jmoody Could you please run this while running `adb logcat`? It should have a stacktrace

[2015-08-02 14:37] TobiasRoikjer commented on #194
@jmoody Good. I'll change this to
[code]

[2015-08-02 15:19] jmoody commented on #198
One of them is an automatic fail - "This screen does not have a delete key (RuntimeError)"

[2015-08-02 15:20] jmoody commented on #198
The others are because of animations - my internet connection is slower.

[2015-08-02 15:22] TobiasRoikjer commented on #198
@jmoody Yup, the first fail is intentional.

[2015-08-03 00:25] krukow opened #206 "Scaffold Gemfile is inconsistent"
Run `calabash generate` and then try and run `bundle install` in the directory generated.

[code]

[2015-08-03 05:54] jmoody opened #207 "Wordpress: Adding a self-hosted site is flickering"
[code]

[2015-08-03 06:03] jmoody commented on #195
Fixed by #208

[2015-08-03 06:03] #195 closed

[2015-08-03 06:26] jmoody opened #209 "`calabash run` should not expect there to be an 'android' or 'ios' profile"
I ran into this output:

[code]

This is not a x-platform project.

Do I need to update my support/env.rb and support/hooks.rb?  They were generated some time ago.

[2015-08-03 06:34] jmoody opened #210 "Cannot launch cucumber/android project"
### Reproduce

1. Follow these instructions.

[code]

### Notes

I tried:

[code]

but ran into **Expected behavior of $ be calabash run ../app.apk** #209

Which I think can be resolved by updating the env.rb and hooks.rb?

### Expected

To be able to run the cucumber.  This worked at one point.

### Found

[code]

[2015-08-03 07:01] jmoody opened #211 "Skeleton: After hook should not call stop_app by default"
Developing with BDD and writing tests for an existing app is an iterative process.

When a Step fails, you want to be able to pop open a console and start debugging from that point in the app.

If `stop_app` is called, you have to reproduce all the work to get you to point where the test failed.

[2015-08-03 07:14] jmoody opened #212 "iOS Server should store the UIA strategy that the app was launched with"
### Motivation

[code]

The default strategy will work unless, for example, the user launched with `:shared_element` which is never a default strategy.

The server should be able to report what strategy it was launched with.  This would allow `console_attach` to _automatically_ attach the current run loop.

Another way to do this would be to _always_ have run-loop cache its details - like it does

[2015-08-03 07:37] jmoody opened #213 "Is the new hash-based query syntax a best practice?"
The samples/wordpress example shows how to use the new hash-based query syntax.

Is this a best practice?  Put it another way, is it something we want to encourage?

If so, I think we need a document (a table?) that shows how the string-based queries map to the hash-based queries.

I could go either way on the hash-based queries.  It is interesting, but problematic.

For example, I think ruby's ab

[2015-08-03 07:44] jmoody commented on #213
Also, the examples show the `{marked: 'Mark'}` syntax vs the project style guide: `{:marked => 'Mark'}` syntax.

I don't mind, but if we are adopting this we should update the style guide.

https://github.com/styleguide/ruby

[code]

If this is a (another) case where we are deviating from the style guide re: queries, then it should be documented in the style guide.

[2015-08-03 08:17] jmoody opened #214 "Is defining queries away from where they are used a best practice"
[code]

I think putting the queries in the methods where they are used is a better practice.

We've seen cases where users are defining queries as `$` globals or in a separate file.  I think the tension here is between readability and refactoring.

It is much easier to read and debug query if it defined locally and not elsewhere in the code base.

On the other hand, if you have a query that you us

[2015-08-03 09:20] krukow commented on #214
@jmoody I think this is fine - these are queries defined and used locally in the page object class. They are not referred anywhere else. I like this approach but would only do it myself if two things are true

1. the queries are local to the page object

2. the queries are used more than once (if they are used only once in the page object, I'd define them inline)

[2015-08-03 14:57] krukow opened #217 "Stack-traces in cli tool upon exit"
When an error happens in the CLI tool I see a long stacktrace with Calabash internals. I'd like for this to be disabled by default. Instead of this:

[code]

I'd like to see something similar to this:
[code]

We should consider asking the user if they want Calabash to generating a keystore and resign - and then go ahead and do it for them making the run command succeed.

[2015-08-03 15:05] TobiasRoikjer commented on #217
@krukow I agree on this issue. I don't think resigning when given a parameter is a good idea.

Should we just `exit 1` instead of raising?

[2015-08-03 15:12] jmoody commented on #206
@krukow Reproduced.

[2015-08-03 15:16] jmoody commented on #206
There are several problems:

1. Calabash version 1.2.3 depends on calabash-android, calabash-cucumber, etc.
2. The absolute version requirement for cucumber is incorrect.  it should be unversioned or '~> 2.0'.

[2015-08-03 16:06] krukow commented on #217
yes - but do print the stack trace if in debug mode.

[2015-08-03 18:01] TobiasRoikjer commented on #214
@krukow I actually sorta agree with Moody. Imagine this:
[code]

It allows for easy code sharing across platforms.

[2015-08-03 18:02] TobiasRoikjer commented on #214
@jmoody I do, however, think that queries should be defined as a method or a constant

[2015-08-03 18:04] TobiasRoikjer commented on #209
Yes this is expected behaviour. calabash run uses the profile `android` or `ios`

[2015-08-03 18:04] TobiasRoikjer commented on #207
@jmoody We should dismiss the keyboard

[2015-08-03 18:05] TobiasRoikjer commented on #206
@krukow @jmoody I think it's because it is a pre-release

[2015-08-03 18:23] krukow commented on #206
@jmoody @TobiasRoikjer can we fix this -- why would Calabash depend on Calabash iOS/Android?

[2015-08-03 18:51] TobiasRoikjer commented on #206
@krukow Calabash does not depend on them.

[2015-08-04 03:54] jmoody commented on #210
I still can run @TobiasRoikjer :(

[2015-08-04 03:56] jmoody commented on #209
This doesn't seem right.  If the project is not x-platform, android or ios does not make sense.

Does `calabash generate` allow you to configure this?

[2015-08-04 03:57] jmoody commented on #207
Fixed by: **Ensure we hide keyboard before tapping login** #205 ?

[2015-08-04 04:01] jmoody commented on #206
@krukow

The most recent, non-pre-release version of the calabash gem is 1.2.1.

When your Gemfile looks like this:

[code]

You'll get version 1.2.1 - which was released on Sept 15 _2013_, back when 'calabash' was going to be a bridge gem.

This is fixed by #218

[2015-08-04 06:35] jmoody commented on #206
Fix is merged @krukow

[2015-08-04 07:20] jmoody commented on #190
@krukow This is expected behavior.

It is a subtle point and one that you should understand.

The goal is to replace this kind of error output:

[code]

with this error output:

[code]

[2015-08-04 13:41] jmoody commented on #210
The problem is that the `./copy-repos.sh` and `./changing_old_files.sh` scripts don't work if you already have the test server installed.

[2015-08-04 13:41] #210 closed

[2015-08-04 14:39] #217 closed

[2015-08-08 12:55] jmoody opened #250 "Add with_page method"

[2015-08-08 14:17] jmoody opened #252 "Code documenation: Finish Android docs"
Eventually, I want to publish documentation as part of releasing.

Ideally, we'd have 100% documentation to avoid having methods sneek in and out of the public API.

[code]

To see what is not documented:

[code]

I believe this is a matter of:

1. marking everything that is private (even if the module / class is private)
2. completing the public API i.e. Android::Gestures et. al.
[code]

[2015-08-08 14:19] jmoody opened #253 "Improve Calabash debug logging for iOS"
The debugging information is pretty light for iOS.

[2015-08-08 15:15] jmoody opened #254 "Gesture API: tapping with arbitrary number of fingers"

[2015-08-09 08:41] #206 closed

[2015-08-09 08:41] #198 closed

[2015-08-09 08:42] jmoody commented on #144
We have to remove this.

[2015-08-09 08:44] jmoody commented on #144
Documented this as private and re-published docs.

[2015-08-09 08:48] #173 closed

[2015-08-09 08:48] #135 closed

[2015-08-09 08:48] #134 closed

[2015-08-09 08:49] #130 closed

[2015-08-09 08:50] #133 closed

[2015-08-09 08:51] jmoody commented on #125
Now that I've looked at the CLI code, I am more inclined to use Thor.

There is a lot of code there that can be removed.

[2015-08-09 08:52] #100 closed

[2015-08-09 08:52] #98 closed

[2015-08-09 08:53] jmoody commented on #114
Is there some way we can force RubyMine to pick up our implementation?

[2015-08-09 08:54] jmoody commented on #97
Closing for lack of response.

[2015-08-09 08:54] #97 closed

[2015-08-09 08:56] #90 closed

[2015-08-09 08:56] #87 closed

[2015-08-09 08:57] jmoody commented on #67
Outdated!  Closing.

[2015-08-09 08:57] #67 closed

[2015-08-09 08:58] #28 closed

[2015-08-09 08:59] jmoody commented on #23
I am leaning toward never implementing this.  @krukow

[2015-08-09 09:00] #22 closed

[2015-08-09 12:24] jmoody opened #255 "Cannot touch views on iPhone apps emulated on iPad - even in 1X mode"
Tracking here: https://github.com/calabash/calabash-ios/issues/813

Effects both 0.x and 2.0

[2015-08-09 14:11] jmoody opened #257 "iOS console: experience when testing against physical devices is bad"
### Motivation

The console experience on iOS is not good when testing against physical devices.

The problem is that that App Life Cycle model expects to be able to ask questions like, "Is the app installed?" and fail fast if the answer is "No".

Calabash iOS can't do this for physical devices.

### Reproduce

[code]

### Expected

To get a message about CalSmoke-cal not being installed.

### Fou

[2015-08-09 14:15] #196 closed

[2015-08-09 14:25] jmoody opened #259 "Remove, move, and/or rename the `copy_repos.sh` script and update the README.md"
I am marking this as bug because the scripts and the README are outdated.

I realize that this scripts do not influence how the gem behaves.

Tobias has explained that he needs/wants to share the Android test server, but I still do not understand why they exist.  Convenience?

I believe that the `rake android:build` task should do all the work of installing the Android server into this gem and tha

[2015-08-09 14:34] jmoody opened #261 "android/test-server is marked as a temporary git ignore - when will it not be temporary?"
[code]

Is this something we will _always_ ignore?  If so, we should remove the comment.

[2015-08-09 14:36] jmoody opened #262 "iOS and Android: need tap_coordinate gesture"

[2015-08-09 14:38] jmoody opened #263 "Android: remove Retriable calls or update the gemspec to make retriable a dependency"
run-loop requires retriable, but it might not always require retriable.

[2015-08-09 14:40] jmoody opened #264 "iOS: Add ability to get the localised string from the plists."
E.g. the Danish name for 'Delete' is 'Slet'. We need this to be able to press 'delete'.

Requires a release of Calabash iOS toolchain.

[2015-08-09 14:43] jmoody opened #265 "iOS: evaluate and implement the the remaining 0.x UIA based methods."
### Motivation

Some definitely have merit.  Others, I am not sure about.

- [ ] `uia_query`
- [ ] `uia_query_el`
- [ ] `uia_query_windows`
- [ ] `uia_names`
- [ ] `uia_call`
- [ ] `uia_call_windows`
- [ ] `uia_set_responder_value` - Only if we can confirm that delegate methods are called

[2015-08-09 14:50] jmoody opened #266 "iOS: UIPickerView API"
### Motivation

It is in 0.x and it can be improved with UIA methods.

Briar has a _good_ picker wheel API.

* https://github.com/calabash/calabash-ios/blob/develop/calabash-cucumber/lib/calabash-cucumber/core.rb#L713
* https://github.com/calabash/calabash-ios/blob/develop/calabash-cucumber/lib/calabash-cucumber/core.rb#L732
* https://github.com/jmoody/briar/tree/develop/lib/briar/picker

[2015-08-09 14:53] jmoody opened #267 "Patch cucumber `pending` for XTC"
### Motivation

On the XTC, cucumber's pending is not handled has a failure.

We should apply this patch:

[code]

[2015-08-09 15:00] jmoody opened #268 "Create a predefined-steps gem and document how to include in project"
### Motivation

The task is fairly straight forward.  We want some predefined steps, but we don't want them included in the skeleton by default.

* Suggested name of the gem:  calabash-cucumber-steps
* Do we need a separate iOS and Android steps?
* Should we have an example POM scaffold?

[2015-08-09 15:07] jmoody opened #269 "Console: implement briar's style for ids, labels, text, and marks"
### Motivation

The current console is _way_ better than 0.x, but I think this is even more useful:

[code]

[2015-08-09 15:25] jmoody opened #270 "iOS: Move dump out of device"
### Motivation

Pass all the routes through the same response filters.

[2015-08-09 15:26] jmoody opened #271 "iOS: Move set_location out of device and document when and where it does not work."
### Motivation

Pass all the routes through the same response filters.

[2015-08-09 15:27] jmoody opened #272 "iOS: underscore wait_for_condition"
### Motivation

Remove it from tab completion.

[2015-08-09 15:50] jmoody opened #274 "iOS Routes: evaluate the effectiveness of RouteMixinError."
### Motivation

The idea was to bubble errors that occur during HTTP up to the public API so users would not be exposed to error messages referencing the internal gem structure.

I am not so fond of this idea now.  So I think RouteMixinError should be removed as unnecessary.

[2015-08-10 12:00] krukow commented on #23
agreed

[2015-08-17 13:25] ericzered commented on #55
Hello,
I'm working on a project which use cucumber 2.0, and I want to add some Calabash test on it. Because the Calabash 2.0 is not yet released, is they're a way to get a beta or something like that ?
Thanks a lot.

[2015-08-18 05:42] jmoody commented on #55
@ericzered

Calabash 2.0 has some pre-releases.  The most recent is `2.0.0.pre3`.

[code]

[2015-08-18 15:03] ericzered commented on #55
Thanks a lot, that's great !

[2015-08-20 15:23] ericzered commented on #55
Hello,
 I've install gem "calabash 2.0.0.pre3" but now the command "calabash-ios download" doesn't work anymore. Should I install a pre-release of the gem "calabash-cucumber" too ? If yes, how ?
Thanks

[2015-08-21 06:20] jmoody commented on #55
The command line tools are not finished.

You will have to grab a copy of the calabash.framework from the
calabash-cucumber gem or build a version of the server yourself.

[2015-08-25 05:31] jmoody opened #276 "iOS: default tap duration should be ~ 0.1 to avoid activating UILongPressGestureRecognizer"

[2015-08-26 13:20] ericzered commented on #55
Oh ok, thanks !
That's why I can't use "calabash-ios console" too...
I was only using the console like this, what is the other way to use calabash without command line ?
Thanks

[2015-08-26 14:31] jmoody opened #277 "iOS: "Execution expired" instead of timeout message"
### Error

[code]

### Step

[code]

[2015-08-26 14:47] jmoody commented on #277
If you change the condition to this:

[code]

Then you get this:

[code]

[2015-08-26 15:11] jmoody commented on #277
The problem appears to be with the `onAlert()` JavaScript dismissing the an alert.

There must be a significant delay _after_  the alert is dismissed before any UIA calls can be made or you must make a recalibration call (like after rotating the device).

[2015-08-26 15:14] jmoody opened #278 "Patch cucumber `ask` on the XTC"
Cucumber's `ask` method should be patched to always fail on the XTC.

[2015-08-26 19:09] jmoody opened #279 "iOS: iPhone apps emulated on iPad Mini do not have a 1X/2X button"
[code]

+1 for trying again to figure out how to do coordinate translations on the server.

[2015-08-29 13:26] jmoody commented on #55
@ericzered

The console is working for both iOS and Android - and it is much improved.

[code]

See the [docs](http://calabashapi.xamarin.com/calabash/Calabash/LifeCycle.html) for more information about the app life cycle methods.

[2015-09-04 12:16] ericzered commented on #55
Hello,
I've installed "calabash 2.0.0.pre3" but to run my cucumber test, I need the gem "calabash-cucumber".
So, because I can't find the pre-release for this gem, I still have :
"Unable to activate calabash-cucumber-0.14.3, because cucumber-2.0.0 conflicts with cucumber (~> 1.3.17) (Gem::ConflictError)"
How can I run a Calabash cucumber tests and keep cucumber 2.0.0 ? (I need this version on my m

[2015-09-04 12:30] jmoody commented on #55
Why do you need the calabash-cucumber gem?

Are you using a Gemfile?  What are the contents?

Calabash 2.0 does not depend on Cucumber at all.

[2015-09-04 12:38] ericzered commented on #55
I have a cucumber project with Calabash to run on a specific machine.
My project start like this :
@calabash_launcher = Calabash::Cucumber::Launcher.new
unless @calabash_launcher.calabash_no_launch?
@calabash_launcher.relaunch
@calabash_launcher.calabash_notify(self)

So because I saw that calabash 2.0 will support "Cucumber 2.0" as it said in the features above, I'm trying to find a pre-version t

[2015-09-04 12:45] jmoody commented on #55
@ericzered We are getting off topic.  Please open a new issue.

[2015-09-04 12:48] ericzered opened #281 "Run Calabash testrun project with cucumber 2.0.0"
Hello,
I've installed "calabash 2.0.0.pre3" because I saw in the feature that it will support cucumber 2.0.0 but to run my calabash cucumber test, I need the gem "calabash-cucumber".
So, because I can't find the pre-release for this gem, I still have :
"Unable to activate calabash-cucumber-0.14.3, because cucumber-2.0.0 conflicts with cucumber (~> 1.3.17) (Gem::ConflictError)"

How can I run a Cal

[2015-09-04 12:50] ericzered opened #282 "Connection error to Calabash Server with DEVICE_TARGET cucumber"
I've build my iOS app and I can run it and control it with calabash.
On my Mac, when I run "cucumber", it launch an Iphone 5s Ios 8.3 Simulator, start the app and my actions are running, Calabash server connection are ok.
But when I run "DEVICE_TARGET="iPhone 5 s (8.3 Simulator)" cucumber" as example, I have an error :

  Unable to make connection to Calabash Server at http://localhost:37265/
  Ma

[2015-09-04 13:01] jmoody commented on #281
If I understand correctly, you have installed Calabash 2.0 and Cucumber 2.0.

Now Calabash iOS 0.14.3 does not work because it requires Cucumber < 2.0.

You have two choices:

1. Use a Gemfile and bundler.  This is what we recommend.
2. Uninstall Cucumber 2.0

[2015-09-04 13:05] jmoody commented on #282
This is a Calabash 0.x question, not a Calabash 2.0 question.

I believe you have typo in your variable:

[code]

If you are still having a problem in Calabash 0.14.3, please see this page for how to get help:  https://github.com/calabash/calabash-ios/wiki

[2015-09-04 13:05] #282 closed

[2015-09-04 13:14] ericzered commented on #281
Thanks for the answer,
I've got a gemfile for my project but it's "gem 'cucumber', '2.0.0'" in it because I need cucumber 2.0.0 for it.
So what I don't get it's : Calabash 2.0 support cucumber 2.0. But to run my calabash project, I need calabash-cucumber gem. And cucumber-calabah gem doesn't support cucumber 2.0.
So I'm stuck. I was hopping be able to run my tests with the pre-version.

[2015-09-04 13:25] jmoody commented on #281
Calabash 2.0 and Calabash iOS 0.x are not compatible.  You cannot use them together.

In order to use Calabash 2.0 you will need to rewrite your steps and the files in your features/support directory.

As I asked before, please show us your Gemfile.

[2015-09-04 14:04] ericzered commented on #281
I've got this in my gemfile

gem 'cucumber', '2.0.0'

Because I need it.

In my env.rb I've put "require 'calabash-cucumber/cucumber'"
I've follow this step by step to build my app and run my cucumber tests to test it
http://docs.testmunk.com/en/latest/ios.html#install-calabash-gem

So I don't know what the difference between the "calabash" gem and "calabash-cucumber" gem.

[2015-09-07 06:44] jmoody commented on #281
What feature of cucumber 2.0 do you need?

* The calabash gem is also known as Calabash 2.0.
* The calabash-cucumber gem is also known as Calabash iOS or Calabash iOS 0.x.

Calabash 2.0 _replaces_ Calabash iOS 0.x and Calabash Android 0.x.  You cannot use them both together.

If you are TestMunk customer or client, I recommend contacting them for support.

### Sample Calabash iOS 0.x Gemfile

[cod

[2015-09-08 13:16] sleekweasel commented on #55
Is there any chance that Cucumber 2.0 could be tweaked to cope with parallel test execution?

Android devices are happy to run separate tests at the same time; web browsers can run in multiple processes and profiles to the same end. iOS is unofficially (6.4) able to host multiple test devices if run under multiple users via ssh; it's only Windows phone that (apparently) can't do multiple devices a

[2015-09-08 13:41] jmoody commented on #55
@sleekweasel I am assuming you mean Calabash 2.0. :)

The Calabash 2.0 architecture was designed with multi-device testing in mind.

We haven't explored this at all.

Should be possible out of the box with Calabash 2.0.  We have no examples however.

[2015-09-09 09:24] ericzered commented on #281
Hello,
As example, I'm using "scenario.name" in cucumber 2.0 which return me the scenario name which I use for my screenshot name. All my project is based on this. And with cucumber 1.3 it doesn't work.
And all my team is using cucumber 2.0 for specific reason too.
if Calabash 2.0 replaces Calabash iOS, how can I launch a cucumber test ?
I'm not a testmunk customer, I just found this tutorial and

[2015-09-09 09:35] jmoody commented on #281
Great!  I did not know about that difference.

We haven't finished the documentation yet, but we have this example:

* https://github.com/calabash/calabash/tree/develop/cucumber/ios

In particular you should look at:

* https://github.com/calabash/calabash/blob/develop/cucumber/ios/features/support/hooks.rb

That example is not ideal because it has a bunch of extra stuff in the hooks.rb because it

[2015-09-09 09:47] ericzered commented on #281
Thanks a lot, that's great ! I will try to update my code to adapt it to the new Calabash.
I'm new to Calabash (as you may guess it), my project is very simple, I hope it will be ok !
Have a nice day

[2015-09-09 17:23] distortia opened #284 "Using .app on physical device"
Hello,
I am trying to launch a physical device using a .app file. Calabash defaults to a simulator for .app and physical device for .ipa. Is there a way to support this or do I have to overwrite some methods?

Thanks

[2015-09-09 17:25] jmoody commented on #284
.app cannot be installed on physical devices.

[2015-09-09 17:27] distortia commented on #284
I am able to install from a .app using a third party installer, like ios-deploy.

[2015-09-09 17:32] jmoody commented on #284
The third party installer must convert the .app to a .ipa.

You can use `xcrun PackageApplication` to create the .ipa from the .app.

http://stackoverflow.com/questions/5640776/xcode4-alternative-way-to-build-ipas

I am not sure what to say.  I've never heard of this use case.

In any event, this is not a feature that I think Calabash will support.

[2015-09-09 17:34] distortia commented on #284
Alright, thanks! I'll look into this.

[2015-09-09 17:35] #284 closed

[2015-09-11 14:40] jmoody opened #285 "iOS/Android: should have a 'doctor' tool"
https://github.com/appium/appium/tree/master/lib/doctor

[2015-09-11 15:47] ericzered commented on #281
Hello again !
So I've tried to convert my script for the new Calabash but I'm completely lost. You're right, the hook is very confusing.
I'm able to clone the Calabash github and run the cucumber/ios after building the app.
But I didn't success to start my script.

My script is simple.
I've got this in my hooks :

@calabash_launcher = Calabash::Cucumber::Launcher.new
		unless @calabash_launcher.ca

[2015-09-14 19:19] distortia opened #286 "Package not found in aapt output"
Hey guys,
I am attempting to install and start the android app

This is the error message I am receiving:

ERROR: dump failed because assets could not be loaded

RuntimeError: 'package' not found in aapt output

Upon debugging, it appears to go through extract_identifier(android/application.rb) twice, the first time it comes back with the correct package, and the second time it comes back as nil.

[2015-09-15 08:23] jmoody commented on #286
@TobiasRoikjer Any chance you can take a look?

[2015-09-15 15:46] jmoody opened #287 "iOS: device rotation needs to be implemented with UIAutomation API"
**Device rotation with UIAutomation** [#827](https://github.com/calabash/calabash-ios/pull/827)

- [ ] implement
- [ ] remove playback files

[2015-09-15 17:07] TobiasRoikjer commented on #286
@distortia Run using debug logging, then please paste everything in here

[2015-09-15 17:34] distortia commented on #286
@TobiasRoikjer Here is everything man

/Users/staltn1/.rvm/rubies/ruby-2.2.0/bin/ruby -EUTF-8 -e $stdout.sync=true;$stderr.sync=true;load($0=ARGV.shift) /Users/staltn1/.rvm/gems/ruby-2.2.0/bin/cucumber /Users/staltn1/RubymineProjects/redesign/features --format Teamcity::Cucumber::Formatter --expand -p none
Testing started at 1:31 PM ...
DEVICE: s5-22
BASE PARAMS:  SCREENSHOT_PATH=./output/ --no-co

[2015-09-17 13:52] tejasv02 commented on #55
Thats a Great move.
With calabash cross platform my code sharing has increased incredibly.

I have managed to fork the repo and take a look it look amazing ..
Thanks for all the effort

[2015-09-28 18:02] distortia commented on #286
Hey guys, just an update. I am closing the issue. I believe the issue was on my end, having to do with my test server.

[2015-09-28 18:02] #286 closed

[2015-10-07 19:55] mrTuggles opened #288 "Calabash 2.0 tap issue"
Xcode: Version 7.0.1 (7A1001)
OS: OSX Yosemite 10.10.5 (14F27)
calabash: 2.0.0.pre4
Server Version: 0.16.4
Original Stack Overflow thread: http://stackoverflow.com/questions/32970715/calabash-2-0-tap-issue

Issue: Tap is not functioning on hybrid (worklight) application in Calabash 2.0

Example:
[code]

[2015-10-20 10:44] prathimak commented on #55
When we can expect official Calabash 2.0 release, we tried xamarin test cloud,its awesome devices are very stable.

[2015-10-20 10:53] jmoody commented on #55
@prathimak

I don't have a release date.

[2015-10-20 10:56] prathimak commented on #55
@jmoody thanks

[2015-10-22 11:21] tejasv02 commented on #281
@ericzered  specifying calabash app path has changed in 2.0
Sample command:
[code]

I havent managed to get calabash 2.0 running with my app , @jmoody can you please provide some inputs how to setup calabash 2.0 framework for ios App

Note: i tried above commands with calabash-ios gem present and also after uninstalling it.

here is my gem list
[code]

[2015-10-26 07:11] jmoody commented on #23
@Increasingly, the existing 0x algorithm is failing to find the _right_ .app which causes the wrong app to be launched.  This can lead to many different kinds of misleading error messages and behaviors.  Calabash 2.0 has _much_ better error messages and forces the user to set CAL_APP.

This has got to be one of the most annoying parts of Calabash iOS.  Setting the CAL_APP to DerivedData/Name-<UUID

[2015-11-05 15:05] ericzered commented on #281
Hello,
Thanks for the answer but I'm still blocked. I have a demo app, build with the last calabash framework, and gem calabash 2.0.0.pre4 installed. I want to start the ios simulator and my app from the calabash console.
So I'm launching "calabash console /Users/ericzered/Desktop/MyDemoApp-cal.app"
I have this :
Running irb...

#             =>  Useful Methods  <=              #

Calabash 2.0.0.p

[2015-11-05 17:20] ericzered opened #289 "Can't install app on iOS Simulator : uninitialized constant RunLoop::Simctl::Bridge"
Hello
I have Yosemite 10.10.3, Xcode 6.2
I just install Calabash gem 2.0.0pre4.
I want to install my app (or any other, same problem) on the iOS simulator from the console but I have an error :

admin$ CAL_DEVICE_ID="iPhone 5 (8.1 Simulator)" calabash console /Users/admin/Documents/builds/myapp-cal.app
Running irb...

 =>  Useful Methods  <=
     ids => List all the visible ids.
 classes => List a

[2015-11-10 19:11] distortia commented on #289
When I dropped my run loop to 1.5.1, I was able to run simulators again.

[2015-11-10 21:08] jmoody commented on #289
Yeah, the run-loop version is out of sync with this library.  I don't have time at the moment to update.  I have started a local branch.

[2015-11-11 13:48] jmoody commented on #289
I am making progress on this fix.

[2015-11-12 11:23] jmoody opened #291 "ruby interface for calabash-tools"
### Motivation

* Find URL in Slack conversation with Chris F.
* Find install bash script in the go repo(s).

- [ ] FIX THIS SCRIPT! https://raw.githubusercontent.com/calabash/install/master/install-calabash-local-osx.rb

@krukow Do you know where this script is hosted?

@TobiasRoikjer We discussed other options for the "install calabash gems locally script" in Aarhus.  Can you dump your solution

[2015-11-16 16:34] ericzered commented on #289
Thanks a lot, I understand now.
I will now only user Xcode 7 and El Capitain because it's working great with that

[2015-11-16 16:48] ericzered opened #292 "using .ipa instead .app or iOS testing ?"
Hello,
I'm using Calabash 2 to test my app on iOS simulator, but I have a question :
Can I test from an .ipa ?
Because my team is building me an .ipa file (which contains the .app) and for the process it will be wonderful if I can take this .ipa on my auto test and start Calabash from it.
Thanks !

[2015-11-16 17:04] jmoody commented on #292
Use:

[code]

[2015-11-17 09:47] ericzered commented on #292
Thanks a lot !

[2015-11-17 09:50] ericzered opened #293 "Install app on iOS 9.1 Simulator"
Hello,
I have my app and I can install it on iOS 8.1 Simulator to start and test it with Calabash 2
But when I try to install it on iOS 9.1, I can't, I have a freeze in the console, no error are display, jsut a freeze.

ericzered$ CAL_DEVICE_ID="iPhone 6 (9.1)" calabash console /Users/ericzered/Documents/Builds/test/MyAppDemo-cal.app
Running irb...

 =>  Useful Methods  <=

Calabash 2.0.0.pre4 say

[2015-11-17 13:25] jmoody commented on #293
It does not support Xcode 7.  Which is a drag.

Too many fires on the Calabash 0.x side.

I have a local branch which fixes the problem, but I it is not pushed yet.

[2015-11-17 13:28] ericzered commented on #293
Thanks for the info, I will use it only for ios 8.1 now.
Have a nice day

[2015-11-17 16:56] ericzered opened #294 "HTTPClient::ReceiveTimeoutError after installing Charles Root certificate on iOS Simulator"
Hello (again),
I test my app with Calabash 2.0, it was ok to install, launch and test it manually on iOS Simulator
But because I wanted to see https requests with Charles, I've installed "Charles root certificate on IOS simulator" in the SSL proxying part in Charles.
So now I can see my https traces but when I launch my app from Calabash I have HTTPClient::ReceiveTimeoutError.
My internet is ok (C

[2015-11-19 13:17] ericzered commented on #294
I notice this too :
On a fresh new ios Simulator (without Charles Root Certificate installed), when Charles is OFF, I can't start my app with calabash, I have a timeout. But the https connections on my app are ok, I can see the answers.
And when Charles is ON, Calabash connection is ok, I can control my app. But the https connections inside my app failed...
And when I install Charles certificate o

[2015-11-24 10:40] ericzered commented on #294
Hello,
Still blocked with this. I see that when I check "Enable SSL Proxying" on Charles, Calabash connection is ok but my https in my app are not (so my app is useless).
And when I uncheck it, it's the total opposite...

[2015-11-24 10:46] jmoody commented on #294
I don't know what Charles is.

Have you tried setting the device endpoint to https:

[code]

I doubt this will work, but it is worth a try.

[2015-11-24 11:01] ericzered commented on #294
Hello,
Thanks, I will try.
Charles is like Fiddler for Mac. It's used to see http and https traffic.
And right now, only way to have Calabash working is to have Charles open and "Enable SSL Proxying" checked. Without Charles, I have the Calabash Timeout, so strange...

[2015-11-24 11:07] ericzered commented on #294
I've tested DEVICE_ENDPOINT=https://localhost:37265 and no change :(

[2015-11-24 12:45] ericzered commented on #294
When I build my app in Xcode I see in the console :
2015-11-24 13:34:33.246 DEBUG CalabashServer:222 | Creating the server: <LPHTTPServer: 0x7a6614b0>
2015-11-24 13:34:33.247 DEBUG CalabashServer:223 | Calabash iOS server version: CALABASH VERSION: 0.16.4
2015-11-24 13:34:33.247 DEBUG CalabashServer:226 | App Base SDK: iphonesimulator9.1
2015-11-24 13:34:33.248 DEBUG CalabashServer:254 | IPHONE_SI

[2015-11-30 16:11] mvemjsun opened #295 "Xcode 7 Trying to run on device but get Could not find a simulator with a UDID or name matching '<UDID>'"
Hi,
I am trying to use calabash 2.0.0.pre4 and trying to test on a physical device. I have Xcode 7 and iOS 9.1 device.

My Gemfile is

[code]

My Cucumber.yml looks like

[code]

when I am trying to run cucumber on device using `cucumber -p device` I get an error

`
Could not find a simulator with a UDID or name matching '<udid>'
`

What could be wrong ? Why does it look for a simulator when I am

[2015-11-30 16:32] distortia commented on #295
.apps are meant for simulators and .ipas are meant for physical devices. Calabash checks the file extentions and sets that up on the back end regardless of how you set it in the cucumber config.

Can you export to an ipa and try that?

[2015-11-30 16:36] jmoody commented on #295
The cucumber.yml profile `device` says to use the IPA erb variable to set the CAL_APP variable.

[code]

@distortia is correct.  That has to be "./binaries/MyApp.ipa".

Good catch; I did not see that.

[2015-11-30 16:51] mvemjsun commented on #295
@distortia @jmoody I will try that

[2015-12-01 21:27] #295 closed

[2015-12-02 16:22] dnadan commented on #55
Hi @jmoody ,

Do you have anything new to share for Calabash 2.0 about your investigation in https://github.com/calabash/calabash-ios/issues/876?  Or is that further down the line?

Many thanks.

[2015-12-02 17:41] jmoody commented on #55
No updates on Calabash 2.0 and nothing new on integration XCUITest except that it is definitely the future as Apple has deprecated UIAutomation.

[2015-12-02 22:16] dnadan commented on #55
@jmoody Ok, thanks for the info.

[2015-12-02 22:48] LiohAu commented on #55
Is there a future for the calabash client since the Xamarin.UITest client is now free for all ?

[2015-12-02 22:52] LiohAu commented on #294
Given that Charles is an HTTP Proxy, you probably have a networking configuration issue (not related to calabash) that Charles solves unintentionally by acting as a proxy.

[2015-12-02 23:12] bootstraponline commented on #55
Where did they announce that Xamarin.UITest is free?

[2015-12-03 00:58] jraczak commented on #55
@bootstraponline We announced this as part of Xamarin 4 two weeks ago. You can read about it here: https://blog.xamarin.com/introducing-xamarin-4/

[2015-12-03 09:25] jmoody commented on #55
@LiohAu Yes, there is a future for Calabash.  :)

[2015-12-03 09:56] LiohAu commented on #55
Well that would be awesome if they could integrate a gherkin "step" explorer in the XTC Recorder. So you can bind 1 or multiple recorded actions to a gherkin step.

[2015-12-03 11:07] jmoody commented on #294
@ericzered Please use GitHub formatting in your issues.

There is no 2.0 server; the 0.16.4 server is the correct version.

[2015-12-08 22:30] mvemjsun opened #296 "Calabash.framework download from Calabash 2.0"
Hi,

I was trying to download the `calabash.framework`  using calabash 2.0, not sure if this feature  is yet available  similar to the `calabash-ios download` command that we use for existing calabash-cucumber gem.

If this is not available can I continue to use the `calabash.framework` that has been downloaded with calabash-cucumber gem 0.16.3 and use this to test with calabash 2.0.

[2015-12-08 22:40] distortia commented on #296
The list of commands ported from the individual gems are here https://github.com/calabash/calabash/issues/26. Ios setup and download are not checked off yet. I'd stick to calabash ios commands.

[2015-12-09 07:53] jmoody commented on #296
@distortia is correct.  We are not sure how we are going to distribute libraries for Calabash 2.0.  They might be embedded, as they are in Calabash 0.x, or we might distribute them over http.

[2015-12-09 08:27] mvemjsun commented on #296
@jmoody @distortia Thank you both, so I should be able to use the calabash.framework downloaded with say calabash-cucumber gem 0.16.2 with calabash 2.0.0.pre4 and an app linked with this framework.

[2015-12-09 09:10] jmoody commented on #296
I would recommend 0.16.4.

Spoiler alert:  I am cutting the 0.17.0 release today.

[2015-12-09 12:44] #296 closed

[2015-12-10 16:36] jmoody commented on #71
I am thinking no; don't require bundler.  Encourage it.

[2015-12-10 16:36] #71 closed

[2015-12-10 16:41] jmoody commented on #125
@krukow You'll have be the decider.

I prefer Thor.  @TobiasRoikjer prefers our current solution.

[2015-12-10 16:48] jmoody commented on #200
Related to **Move the Android test server** [#1](https://github.com/calabash/calabash-android-server/issues/1)

[2015-12-10 16:53] jmoody commented on #212
Handled by **`console_attach` needs some love; run-loop should cache runtime info for all strategies** [#828](https://github.com/calabash/calabash-ios/issues/828)

[2015-12-10 17:03] #257 closed

[2015-12-10 17:04] jmoody commented on #259
Related to **Move the Android test server** [#1](https://github.com/calabash/calabash-android-server/issues/1)

[2015-12-10 17:05] jmoody commented on #261
Related to **Move the Android test server** [#1](https://github.com/calabash/calabash-android-server/issues/1)

[2015-12-10 17:09] jmoody commented on #264
Starting in Xcode, this is not working.

[2015-12-10 17:09] jmoody commented on #265
UIA is deprecated.

[2015-12-10 17:09] #265 closed

[2015-12-10 17:15] #281 closed

[2015-12-10 17:16] #292 closed

[2015-12-10 17:17] #293 closed

[2015-12-10 17:17] #294 closed

[2015-12-10 21:11] TobiasRoikjer commented on #263
@jmoody I don't consider this a "3" estimate

[2015-12-10 21:12] TobiasRoikjer commented on #209
@jmoody I consider this expected behaviour and not a bug. Have you changed your opinion?

[2015-12-10 21:13] TobiasRoikjer commented on #186
@jmoody Do you have further comments on this? Is there a bug

[2015-12-11 09:30] jmoody commented on #263
You are free to change it.

[2015-12-11 09:31] jmoody commented on #209
I don't think this is the correct behavior.  Assigning to Karl for a decision.

[2015-12-11 09:33] jmoody commented on #186
This might be a moot point if we can remove the iOS life cycle hooks.

What we don't want is to _require_ iOS users to implement the life cycle hooks.

[2015-12-11 09:33] jmoody commented on #186
Closing because I think this will be covered in a different issue.

[2015-12-11 09:33] #186 closed

[2015-12-11 10:13] jmoody commented on #291
Covered in another issue.

[2015-12-11 10:13] #291 closed

[2015-12-11 10:35] jmoody commented on #263
Or vote on it: http://www.pointingpoker.com/29649

[2015-12-11 11:40] jmoody opened #297 "Complete the Android cucumbers; Scenarios should cover 100% of the public API."

[2015-12-14 11:27] krukow commented on #213
using the hash based syntax is best practice for simple queries that have only one condition, e.g., `id:'foo'` or `marked:'bar'`. We should only use the `: ` form in our examples.

Yes this should be documented. My proposal would be to use the hash-form in most of the introductory texts and then only use the string based form in the parts of the documentation for the full blown query language maki

[2015-12-14 11:29] krukow commented on #209
I need more information to decide this. Let's discuss offline.

[2015-12-14 11:29] krukow commented on #209
@jmoody @TobiasRoikjer ^

[2015-12-14 11:35] TobiasRoikjer commented on #209
@jmoody If you generate skeletons using a newer version this is expected behaviour. You are right that this might be unexpected when you are targeting only one platform, but that means you have created your own hooks and env instead of basing them on the default generated ones.

A user can always just run using `cucumber`.

I am not certain this is the best approach, and I can be convinced to chan

[2015-12-14 11:35] krukow commented on #190
Also requires a conversation @jmoody and @TobiasRoikjer -- my immediate preference is to return `nil`

[2015-12-14 11:38] TobiasRoikjer commented on #190
@krukow Did you read Moodys last post on this? I would like us not to change Ruby default behaviour, but I think it is better to give a good error message, a lot of our users experience something similar.

We aren't *changing* anything in Ruby, as we have simply created an invariant of Array for Calabash that fails when accessing an element out of bounds instead of returning nil.

[2015-12-14 11:39] krukow commented on #125
What about using this tool? UITest has used this successfully http://docopt.org/

[2015-12-14 11:39] krukow commented on #125
a good way to ensure help text is up-to-date too

[2015-12-14 11:40] krukow commented on #114
I want `tap`! Let's get in touch with the RubyMine folks.

[2015-12-14 11:40] TobiasRoikjer commented on #125
@krukow We considered that.

I don't think we should use Thor, as we are doing some rather strange parsing of the  command line input, and I could not find Thor tutorials that showed how to do this.

[2015-12-14 11:41] TobiasRoikjer commented on #114
@jmoody @krukow It's work noticing that this would only happen in the Cucumber steps, not in pages or modules. Further, it would work if Rubymine parsed the Cucumber `World` command.

[2015-12-14 12:19] krukow commented on #125
@TobiasRoikjer it sounds like you considered http://docopt.org/ but was there a reason to not use it?

[2015-12-15 13:24] TobiasRoikjer opened #298 "Enhance GPS functionality"
We should be able to set
 - Altitude
 - Bearing
 - Speed

along latitude and longitude.
https://developer.apple.com/library/ios/documentation/ToolsLanguages/Reference/UIATargetClassReference/#//apple_ref/javascript/instm/UIATarget/setLocationWithOptions

[2015-12-17 11:04] krukow commented on #209
@jmoody  @TobiasRoikjer I don't think we should require profiles of specific names. What we should require is that certain configuration is called so that either iOS or Android is configured - does that make sense.

[2015-12-18 08:28] jmoody commented on #114
I think we need to understand @TeresaP's problem.

**Wrong number of arguments for 'tap' when upgrading to 17.0 (short-term solution inline)** [#961](https://github.com/calabash/calabash-ios/issues/961)

[2015-12-18 08:42] TeresaP commented on #114
I'm happy to provide more info. What do you need from me?

[2015-12-18 09:01] jmoody commented on #114
Contacting Teresa off channel.

[2015-12-18 13:47] jmoody opened #301 "release 2.0.0.pre6 with updated Android server"
Hey Tobias,

Can you drop me an updated Android test server so I can make a 2.0.0.pre6 release today?

I goofed and cut a release with the old test server.

I will cut the release.

cc: @sapieneptus

[2015-12-18 15:50] TobiasRoikjer commented on #301
@jmoody Updates on this?

[2015-12-21 07:45] jmoody commented on #301
Released.  #304

[2015-12-21 07:45] #301 closed

[2016-02-05 13:26] #259 closed

[2016-02-05 13:27] #261 closed

[2016-02-05 13:28] #200 closed

[2016-02-05 13:28] #194 closed

[2016-02-05 13:29] TobiasRoikjer commented on #94
@jmoody This is done right?

[2016-02-05 13:29] TobiasRoikjer commented on #250
@jmoody Could you expand on this?

[2016-02-08 17:34] paulpatarinski commented on #55
Any plans on making iOS testing similar to calabash-android (not requiring an embedded http-server), therefore making it possible to test Release builds?

[2016-02-17 19:11] llopezTopps commented on #55
Any plans on making/supporting a calabash for Unity applications?

[2016-02-18 16:41] jmoody commented on #94
Nope.

[2016-02-18 16:44] jmoody commented on #250
Something like this:

[code]

or

[code]

`with_active_page` only works because there is some logic in the page that can detect which tab we are looking at.  I don't think we should try to generalize this.

[2016-04-05 07:20] muneermuhammed opened #309 "`package_name': 'package' not found in aapt output (RuntimeError)"
I am running calabash-android in docker. I got this response when I run the test

Some  please give me a helping hand. All kinda helps are appreciated,

[2016-04-05 10:16] jmoody commented on #309
Please do not cross post.  I answered your question on Stack Overflow.

This is the Calabash 2.0 repo which has not been released yet.

[2016-04-05 10:16] #309 closed, assigned to nobody

[2016-04-05 10:18] muneermuhammed commented on #309
Ok. I am sorry.

[2016-04-08 18:09] garyjohnson commented on #263
Having an issue where fastlane has a dependency chain to retriable ~> 2.0, and calabash-android forces an older version (<1.5). Given some guidance on which way you want to go, I'm happy to submit a PR for updating or removing the dependency.

[2016-04-13 10:32] jmoody commented on #114
I paired with @svandeven - they are also having a problem with `tap`.

This is more evidence that overriding Kernel methods is not a good idea.  She also mentioned that she has paired with other users who have exactly this problem.

For what it is worth, `tap` has been removed from Calabash iOS in 0.19.0.

[2016-04-13 10:32] jmoody commented on #114
ATTN @krukow @TobiasRoikjer

[2016-04-13 12:10] TobiasRoikjer commented on #114
@jmoody We could also consider introducing a global object like `app.tap`. This will also help with autocompletion.

[2016-04-19 11:37] MortenGregersen commented on #285
Moved to: https://github.com/appium/appium-doctor

[2016-05-03 13:35] JoeSzymanski commented on #268
One request related to this for anyone that would like to take on this project, the steps for iOS and Android should be as close to the same as possible. In particular, out team has run into problems with pre-defined steps on iOS versus Android in Calabash 0.x where the steps are worded the same, but have different assumptions.

For example, make sure that any assumptions about text being exact ma

[2016-05-12 08:01] MortenGregersen commented on #285
I've started working on this

[2016-05-12 13:24] krukow commented on #285
@MortenGregersen that's great news :)

[2016-06-09 14:11] zined commented on #263
same as @garyjohnson

[2016-07-04 07:30] zined commented on #263
FYI: https://github.com/calabash/calabash-android/pull/744 has been merged.

[2016-07-11 05:55] smartfaceTester commented on #55
Hello,
I am pretty new on Calabash. Is it possible to use Calabash 2.0 with real iOS devices? I am asking because I got this message.

RuntimeError: Could not find a simulator with a UDID or name matching 'c11b68cf24981e201532e220e2d30bc633595c55'

Thanks

[2016-07-11 06:40] jmoody commented on #55
Yes, it is possible.

Unfortunately, Calabash 2.0 is out of step with run_loop.

My advice is to start with Calabash 0.x.

On Monday, 11 July 2016, smartfaceTester notifications@github.com wrote:

[2016-08-16 10:30] georgeedwards opened #312 "Other Linker Flags not present in Xcode project"
I am trying to build some tests for the Xamarin Test Cloud for a non-Xamarin mobile app. I have followed the [guide](https://developer.xamarin.com/guides/testcloud/calabash/quickstarts/xcode/linking-the-calabash-framework/), but have got stuck on the _Linking the Calabash Framework_ step. My project doesn't seem to have any "Other linker Flags" setting, you can see this in the images below.

I am

[2016-08-22 11:03] jmoody commented on #312
Select "All" vs. Combined and search for Linker

[2016-08-22 11:03] #312 closed, assigned to nobody

[2016-10-06 13:57] TobiasRoikjer commented on #250
Closing this as this can be considered state-full, or at least scope-dependent.

We want to be able to pinpoint the line that fails without having the investigate other parts of the code.

[2016-10-06 13:57] #250 closed

[2016-10-06 14:00] #190 closed

[2016-10-08 07:20] fabb commented on #55
Is there some migration guide from 0.x to 2.0?

[2016-10-10 09:00] jmoody commented on #55
@fabb Not yet.

[2016-10-12 11:35] fabb commented on #55
Seems like the Appium guys are working actively on supporting XCUITest, maybe Calabash can profit from their sharing of implementation details:
https://github.com/appium/appium/issues/5225

[2016-10-31 12:47] #94 closed

[2016-10-31 12:47] TobiasRoikjer commented on #209
The run command is removed.

[2016-10-31 12:47] #209 closed

[2016-10-31 12:48] #114 closed

[2016-11-14 14:46] JaufretDemaries commented on #55
@jmoody I've start with calabash-cucumber and calabash-android separately and got a bunch of questions.

Is the 2.0 project more current than the two separate calabash-cucumber and calabash-android for cross platform ?

Is there troubles with last version of iOS or Android to use it with both emulators and physical devices ? Or any pro / cons ?

Thank you for your answers.

[2016-11-24 14:03] JaufretDemaries opened #326 "RuntimeError No signature algorithm names found"
Hi,

I past the last days to fight against Calabash 2.0. I've got an iOS/Android app to test but it's actually impossible for me to resign the android app. I always get the same error which is:

devrap-MBP:pratique-calabash jaufret$ calabash -v resign /Users/jaufret/Documents/Apps/app-dev-release.apk
Setting Android SDK location to $ANDROID_HOME
Android SDK location set to '/Users/jaufret/Library/

[2016-12-30 11:04] Bierrot opened #332 "Could not connect to the DeviceAgent service"
Hi,

I try to run simple test with calabash. When I run cucumber, I have this message after ~20 seconds.

[code]

In the current.log file, I've got this (useless ?) message :

` Test Completed with Result: Bundle Connection Failed in error: Error Domain=com.facebook.XCTestBootstrap Code=4 "Test Process likely crashed but a crash log could not be obtained" UserInfo={NSLocalizedDescription=Test Proc

[2017-01-06 11:09] Angel-Shenoy opened #334 "Calabash Android Scenario Outline Issue"
Hi,
I am using Calabash Android 0.9.0
My feature file is as below:
Feature: Login
  Background: As a user, I can navigate to the Login Screen
	Given I am on the Splash Screen
	Then I wait for the "Log in" button to appear on the Screen
	And I wait for the "Sign Up" button to appear on the Screen
	When I touch the "Log in" button
	Then I am navigated to the "Login" Screen

  Scenario Outline: Login

[2017-01-09 15:12] jmoody commented on #332
I am fairly certain that Calabash 2.0 is not ready for Xcode 8.

@TobiasRoikjer would know better about the state of this project.

[2017-01-09 15:27] TobiasRoikjer commented on #332
I am on Xcode 8.2.1, and it works fine for me. Please ensure you are using the latest version of the pre-release, and post cal_ios.server_version to ensure your server is > 0.20

[2017-02-14 17:28] tejasv02 commented on #334
check the brackets around parameters [check this link](https://github.com/cucumber/cucumber/wiki/Scenario-Outlines)

[2017-02-17 22:46] jamespullar commented on #55
Will the unification still support `ABase` and `IBase` classes?

[2017-05-09 10:28] testAuto1516 opened #336 "Please provide more details on "Calabash is no longer under active development""
Please provide more details on "Calabash is no longer under active development".

1. Calabash future for iOS11 support?
2. How would this impact Calabash-ruby based existing frameworks (no cloud based).
3. Please give us more details on same as we have huge set of test cases and framework depended on Calabash.

[2017-06-01 11:38] friederbluemle opened #337 "Remove stale/fully merged branches"
This repository contains 22 branches, many of them stale and/or fully merged. Please remove them. These redundant refs clutter up the repository, and every new fork/clone will automatically inherit them as well.

[2017-06-02 06:10] #337 closed, assigned to nobody

[2017-06-05 16:08] hiddentao commented on #336
Just started using this on a project, would also to like to know more about what's going on with this.

[2017-09-28 14:01] full-of-foo commented on #336
Would also love some feedback on this.

AFAICS there are no other Ruby-based mobile automation frameworks out there.

[2017-09-28 14:02] hiddentao commented on #336
@full-of-foo I ended up switching to Appium in the end. Luckily I was able to keep most of ny Ruby cucumber tests, just needed to change the step implementations to match Appium's way of working.

[2017-09-28 15:50] full-of-foo commented on #336
@hiddentao nice, thank you for the advice.

I had started looking at Appium today actually. The documentation around Ruby integration isn't great though it seems to be enough.

[2019-06-28 14:38] AqaSquad opened #338 "Calabash site does not resolve"
The main calabash site site http://calaba.sh/ seems to be down. Attempting to access it results in
[code]

Not sure if this is the correct forum for the website issue - I can re-open the issue elsewhere if directed.

[2019-07-01 05:20] jmoody commented on #338
We turned the site off because it was not maintained.

[2019-07-01 14:06] AqaSquad commented on #338
@jmoody Is there a way the community can help with maintenance? I'd be happy to discuss options or availability.

[2019-07-02 05:43] jmoody commented on #338
Yes there are ways.  Let's chat on Gitter.